@page "/"
@inherits GameStateComponent
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))

<progress id="@EnemyProgressId" max="@GameState.GameStateStorage.CurrentMaxEnemyHealth" value="@GameState.GameStateStorage.EnemyHealth"></progress>
<label for="@EnemyProgressId">
    @GameState.GameStateStorage.EnemyHealth/@GameState.GameStateStorage.CurrentMaxEnemyHealth
</label>


<br/>

<EnemyImage />

<button @onclick="@GameState.ClickDamageEnemy">
    Attack
</button>

<PassiveDamageWorker />


@code {
    private const string EnemyProgressId = "enemy-health";
}